@use '../../styles/variables' as v;

.groceries-list {
  margin: 1rem 0;
  padding: 1.5rem 1rem;
  border: 2px solid v.$color-primary;

  &__title {
    color: v.$color-primary;
  }

  &__description {
    font-weight: bold;
  }

  &__list {
    padding: 0;
  }

  &__item {
    position: relative;
    list-style: none;
    padding-left: 1.5rem;

    &:hover {
      color: #f0f;
    }

    &::before {
      left: 0;
      position: absolute;
      content: '';
      border: 1px solid v.$color-primary;
      width: 1rem;
      top: calc(50% - 1px);
    }
  }
}
